<h1>建立</h1>

<%= form_for(@user) do |form| %>
	<%= render "shared/form_errors", record: @user %>

  <div class="field">
 
  <span>帳戶</span>
    <%= form.text_field :userid %>
  </div>

  <div class="field">
   
   <span>電郵</span>
    <%= form.text_field :email %>
  </div>

  <div class="field">
 
  <span>密碼</span>
    <%= form.password_field :password %>
  </div>

<div class="field">
  
  <span>確認密碼</span>
    <%= form.password_field :password_confirmation %>
  </div>

 
  <div class="actions">
    <%= form.submit "建立", class: "btn btn-primary" %>
  </div>
<% end %>
